<!--
Updated based on the requirements of Assignment 7.2:
Update the fields in the index.html file to only display the books title and isbn number.
Add a new button to the bottom of the card with a link to the books “getInfoUrl.”
Make this link open in a new browser tab.

Saved inside resources/templates/ folder -- Mark Gallagher, 2026

Krasso, K. (2026). CIS 530 Server-Side Development. Bellevue University, all rights reserved.
Modified by Mark Gallagher, 2026
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookClub | Welcome</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body>

<div th:insert="~{fragments/header :: header}"></div>

<main>
    <section class="py-5 text-center container">
        <h1 class="fw-light">Book Club</h1>
        <p class="lead text-muted">
            Below are this month's top 10 favorite books.
        </p>

        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">

                <div class="col" th:each="book : ${books}">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">

                            <h5 class="card-title" th:text="${book.title}"></h5>

                            <p class="card-text">
                                <strong>ISBN:</strong>
                                <span th:text="${book.isbn}"></span>
                            </p>

                            <a class="btn btn-primary"
                               th:href="@{/monthly-books/{isbn}(isbn=${book.isbn})}">
                                View
                            </a>

                            <a class="btn btn-secondary"
                               th:href="${book.infoUrl}"
                               target="_blank">
                                Web Link
                            </a>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
</main>

<div th:insert="~{fragments/footer :: footer}"></div>
<div th:insert="~{fragments/scriptFooter :: scriptFooter}"></div>

</body>
</html>