
<!--
Update the code in the scriptFooter.html file to reference the CDN for the Bootstraps 
JavaScript files. 
Created by CIS-530 instruction.
Modified by Mark Gallagher, 2026
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="scriptFooter">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzccLA8Nl+NtUVF0sA7MsXp1uJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
    </div>
</body>
</html>









